.centered-pills {
	text-align: center;
}

.centered-pills ul.nav.nav-pills, .centered-pills ul.nav.nav-tabs {
	display: inline-block;
}

.centered-pills ul.nav.nav-pills li, .centered-pills ul.nav.nav-tabs li {
	display: inline;
}

.mkto-nav{
  font-size:12px;
}

.mkto-subtitle{
  font-size:20px;
}

.mkto-subtitle-xs{
  font-size:12px;
}

.footer{
  padding-left:8px;
  padding-right:8px;
}

.img-circle{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

h1,h2,h3,h4,h5,p{
  font-family: 'Philosopher', sans-serif;
}
