<div class="widget-wrap">
    <h3 class="widget-title">友情链接</h3>
    <div class="widget">
      <ul>
        <li><a href="http://www.starduster.me/" target="_blank">Starduster 星尘独奏曲</a></li>
        <li><a href="http://blog.moeloader.com/" target="_blank">ChinaMoe's Blog</a></li>
      </ul>
    </div>
  </div>
