<div class="widget-wrap">
    <h3 class="widget-title">我的朋友们</h3>
    <div class="widget">
      <ul>
        <li><a href="http://www.starduster.me/" target="_blank">Starduster 星尘独奏曲</a></li>
        <li><a href="http://tap-io.com/" target="_blank">小小泥娃的部落格</a></li>
        <li><a href="https://touko.moe/" target="_blank">Touko's Diary</a></li>
        <li><sup>*</sup> 排序不分先后 欢迎交换链接/li>
      </ul>
    </div>
  </div>
