<div class="widget tag">
  <h3 class="title">友情链接</h3>
  <ul class="entry">
    <li><a href="http://www.starduster.me/" target="_blank">Starduster 星尘独奏曲</a></li>
    <li><a href="http://blog.moeloader.com/" target="_blank">ChinaMoe's Blog</a></li>
  </ul>
</div>
