<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      版权所有 &copy; 2013-2015 Sumi Makito <br>
      若未特殊注明，则为原创内容。未经许可，不得转载。<br>
      使用 <a href="http://hexo.io/" target="_blank">Hexo</a> 博客框架构建
    </div>
  </div>
</footer>
